In [103]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [104]:
df = pd.read_csv("cleaned_air_bnb_Jul_26.csv")
print(df.shape)

(6136, 54)

In [28]:
g = df.dropna(subset=['state']).drop_duplicates('city').set_index('city')['state']
df['new_state'] = df['state'].fillna(df['city'].map(g))

g = df.dropna(subset=['city']).drop_duplicates('new_state').set_index('new_state')['city']
df['new_city'] = df['city'].fillna(df['new_state'].map(g))

In [29]:
df['new_state'].head()

0    Wilaya ya Kajiado
1       Nairobi County
2    Wilaya ya Kajiado
3       Kajiado County
4       Kajiado County
Name: new_state, dtype: object

In [38]:
s_df = pd.DataFrame(df['state'])
s_df['city'] = df['city']
#s_df.rename(columns = {'new_state':'state'}, inplace = True)
s_df.head(2)

            state     city
0             NaN    Ngong
1  Nairobi County  Nairobi

In [105]:
state_list = ['Baringo','Bomet','Bungoma','Busia','Elgeyo','Mara','Embu','Garissa','Homa Bay','Isiolo','Kajiado','Kakamega','Kericho','Kiambu','Kilifi','Kirinyaga','Kisii','Kisumu','Kitui','Kwale','Laikipia','Lamu','Machakos','Makueni','Mandera','Marsabit','Meru','Migori','Mombasa','Muranga','Nairobi','Nakuru','Nandi','Narok','Nyamira','Nyandarua','Nyeri','Samburu','Siaya','Taitaâ€“Taveta','Tana River','Tharaka-Nithi','Trans-Nzoia','Turkana','Uasin Gishu','Vihiga','Wajir','West Pokot']

city_list = ['Baragoi','Bondo','Bungoma','Busia','Butere','Dadaab','Diani Beach','Eldoret','Emali','Embu','Garissa','Gede','Gem','Hola','Homa Bay','Isiolo','Kitui','Kibwezi','Kajiado','Kakamega','Kakuma','Kapenguria','Kericho','Keroka','Kiambu','Kilifi','Kisii','Kisumu','Kitale','Lamu','Langata','Litein','Lodwar','Lokichoggio','Londiani','Loyangalani','Machakos','Makindu','Malindi','Mandera','Maralal','Marsabit','Meru','Mombasa','Moyale','Mtwapa','Mumias','Muranga','Mutomo','Nairobi','Naivasha','Nakuru','Namanga','Nanyuki','Naro Moru','Narok','Nyahururu','Nyeri','Ruiru','Siaya','Shimoni','Takaungu','Thika','Ugunja','Vihiga','Voi','Wajir','Watamu','Webuye','Wote','Wundanyi']

In [110]:
df.state.isna().sum()

229

In [111]:
df.city.isna().sum()

252

In [108]:
for stateindf in df['state']:
    for i in range(len(state_list)):
        if str(stateindf).lower().find(str(state_list[i]).lower()) != -1:
            df['state'] = df['state'].replace([stateindf], state_list[i]) 
            #print(f"{str(stateindf)} --> {str(state_list[i])}")

In [109]:
for cityindf in df['city']:
    for i in range(len(city_list)):
        if str(cityindf).lower().find(str(city_list[i]).lower()) != -1:
            df['city'] = df['city'].replace([cityindf], city_list[i]) 
            #print(f"{str(cityindf)} --> {str(city_list[i])}")

In [ ]:
df.loc[~df['state'].isin(state_list), 'state'] = np.nan

In [116]:
df.loc[~df['city'].isin(city_list), 'city'] = np.nan

In [117]:
df['city'].value_counts()

Nairobi        2616
Mombasa         645
Watamu          268
Diani Beach     267
Malindi         211
Nakuru          174
Mtwapa          127
Nanyuki         125
Eldoret         121
Kilifi           98
Kisumu           70
Thika            41
Kiambu           40
Ruiru            38
Meru             38
Naivasha         33
Kisii            31
Kakamega         31
Bungoma          29
Nyeri            19
Narok            18
Siaya            16
Kericho          16
Kitale           14
Machakos         13
Homa Bay         11
Embu              9
Busia             8
Bondo             7
Kajiado           6
Nyahururu         5
Isiolo            5
Wote              4
Naro Moru         4
Gede              3
Kitui             3
Ugunja            3
Kibwezi           2
Keroka            2
Voi               2
Takaungu          2
Shimoni           2
Webuye            1
Wundanyi          1
Vihiga            1
Langata           1
Mutomo            1
Litein            1
Mumias            1
Name: city, dtype: int64